/* REMOVE OR COMMENT THIS OUT in App.css */
 #root {
  max-width: none;
  margin: 0 ;
  padding: 2;
  width: 100%;
} 
*/
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* ADD THIS to ensure true 100% width */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}